<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>mainServlet</servlet-name>
		<servlet-class>org.mimacom.fun.mariokart.MainServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>memeServlet</servlet-name>
		<servlet-class>org.mimacom.fun.mariokart.MemeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>memeServlet</servlet-name>
		<url-pattern>/meme/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>imageServlet</servlet-name>
		<servlet-class>org.mimacom.fun.mariokart.ImageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageServlet</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>